<div class="container">
    <app-navigation-detail-bar></app-navigation-detail-bar>  
    <div 
      fxLayout="row"
      fxLayoutAlign="center"
      >
      <span class=" textHeader padding-top-8px"> {{forecast[0].date | date :'fullDate'}} </span>
    </div>
    <div class="body">
        <mat-divider></mat-divider> 
          <div *ngFor="let item of hour">
            <mat-divider></mat-divider> 
            <mat-card  (click)="onClickItems(item)">
              <mat-card-title>
                <div
                  fxLayout="column"
                  fxLayoutAlign="space-between"
                >
                  <div class=" padding-bottom-4px">
                    <span>
                      {{item.time| date :'shortTime'}} 
                    </span>
                  </div>
                </div>
              </mat-card-title>
              <div fxLayoutAlign="start">
               <div fxLayout="column">
                   <img mat-card-avatar src={{item.condition.icon}} alt="No photo"> 
                  <mat-card-subtitle>
                    <span>
                      {{item.condition.text}} 
                    </span>
                  </mat-card-subtitle>
                </div>
              </div>
              <mat-card-content>
                <span > 
                  Temp_c : {{item.temp_c}}°
                </span>
                <span class="padding-left-4px">
                  Humidity : {{item.humidity}}%
                </span>
                <span class="padding-left-4px">
                  Precip_mm : {{item.precip_mm}}.
                </span>
              </mat-card-content>
            </mat-card>
          </div>
      </div> 
</div>  
